.venv
__pycache__
.ipynb_checkpoints
.pytest_cache

build/
dist/
*.egg-info
*.so
*.c
.DS_Store
.vscode

tmp
personal_experiment
.idea
outputs
data
!weights/.gitkeep
weights
!results/.gitkeep
results
!illustrations/.gitkeep
illustrations
